.header {
    display: flex;
    align-items: center;
    width: 1555px;
    height: 110px;
    flex-shrink: 0;
    background: var(--f-3-f-7-ef, #F3F6EF);
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);

}
.logo {
    width: 61px;
    height: 62px;
    flex-shrink: 0;
    
}
.table1 {
    display: inline-flex;
    padding: 44px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 0cap;
    box-sizing: border-box;
}
.table2 {
    display: inline-flex;
    padding: 44px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}
.table3 {
    display: inline-flex;
    padding: 44px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}
.text {
    display: flex;
    align-content: space-between;
    color: #3b1a70;
    font-family: Avenir;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}